body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAD961;
    background-image: linear-gradient(48deg, #FAD961 0%, #F76B1C 100%);

}


.button {
    background-color: #F76B1C;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    &:hover {
        background-color: rgba(130, 50, 4, 0.9);
        color: white;
    }

}

/* styles.css */
.navbar .nav-link.active {
    padding: 5px;
    color: #F76B1C;
    border-radius: 0.25rem;
}

.navbar .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.navbar .nav-link:hover {
    color: #fff;
}
